<form>
  <div class="form-group">
    <label for="names">Enter your Names:</label>
    {{input type="text" value=names id="names" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="question">Your Question:</label>
    {{input type="question" value=question id="question" class="form-control"}}
  </div>

  {{#each courses as |course| }}
    {{#radio-button
        value=course
        groupValue=course_id
        name=course.course}}
        {{course.course}}
    {{/radio-button}}

  {{/each}}
  <button {{action 'saveTicketToCourse'}} class="btn btn-success">Submit</button>
</form>
