<form>
  <div class="form-group">
    <label for="names">Teacher Name</label>
    {{input type="text" value=teacherName id="teacherName" class="form-control"}}
  </div>
  {{#radio-button
      value="PHP/JavaScript/Drupal"
      groupValue=class
      name="class"}}
      PHP/JavaScript/Drupal
  {{/radio-button}}
  {{#radio-button
      value="Java/JavaScript/Android"
      groupValue=class
      name="class"}}
      Java/JavaScript/Android
  {{/radio-button}}
  {{#radio-button
      value="Ruby/JavaScript/Rails"
      groupValue=class
      name="class"}}
      Ruby/JavaScript/Rails
  {{/radio-button}}
  <button {{action 'saveTeacher'}} class="btn btn-success">Submit</button>
</form>
