<h3>{{ticket.names}}</h3>
<p>{{ticket.date_added}}</p>
<div class="well">
  <h4>{{ticket.question}}</h4>
</div>
<div class="closeTicket">
  <button {{action 'closeTicket' ticket}} class="btn btn-default">Close</button>
</div>
